.friendContainer {
margin-top: 3rem;
margin-left: 1rem;;
}

.addFriendRow.row {
    margin-top: 2rem;
    margin-left: .3rem;;
}

#userId.form-control {
    background-color: #F8EEEA;
    width: 175px;
    font-size: 20px;
}

.addFriendButton.btn.btn-custom {
    background-color: #C4828E;
    color: #F8EEEA;
    height: 45px;
    margin-left: .5rem;
}

.friendCard.card {
    background-color: #404F47;
}