

.recipeCard {
    color: #F8EEEA;
    margin-bottom: 2rem;
    margin-top: 4rem;
    border: 2px solid #404F47 !important;
    border-radius: 6px !important;
    background-color: #404F47 !important;
    box-shadow: 0 4px 8px 0 #888888, 0 6px 20px 0 #888888;
}



.goToRecipeButton {
    background-color: #C4828E;
    color: #F8EEEA;
}

.recipeCardImage {
    width: 10rem !important;
    height: 15rem;
    margin: 1rem auto 0 auto
}