

.recipeCard {
    color: #F8EEEA;
    margin-top: 4rem;
    border: 2px solid #F8EEEA !important;
    border-radius: 6px !important;
    background-color: #404F47 !important;
    /* box-shadow: 0 4px 8px 0 #888888, 0 6px 20px 0 #888888; */
}


.goToRecipeButton.btn.btn-custom {
    background-color: #C4828E;
    color: #F8EEEA;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

