.displayRecipeContainer {    
    display: flex;
    
    margin-top: 3rem;
}

.displayRecipeCard {
    color:#F8EEEA;
    margin-top: 3rem;
    background-color: #404F47 !important;
    border: 2px solid #404F47 !important;
    border-radius: 6px !important;
    box-shadow: 0 4px 8px 0 #888888, 0 6px 20px 0 #888888;
    width: 80%;
    margin: 0 auto 5rem auto !important;
}

.displayRecipeCardImage {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem !important;
}

.displayRecipeCardTitle {
    text-align: center;
    margin-top: 2rem;
    font-size: 30px !important;
    color: #C4828E;
    font-family: 'Cedarville Cursive', cursive;
}

.displayRecipeText {
    white-space: pre-wrap;
    margin-left: 5rem;
    margin-top: 3rem;
    
}

.displayRecipeDelete.btn.btn-custom, .displayRecipeEdit.btn.btn-custom {
    background-color: #C4828E;
    color: #F8EEEA;
    font-size: 20px;
    margin-left: 6rem;
}

.displayRecipeEdit.btn.btn-custom {
    margin-left: 1rem;
}

.noteFooter {
    margin-top: 2rem;
    background-color: #404F47 !important;
}


.noteCard {
    font-size: 18px;
   
}

.noteText {
    margin-left: 4.5rem;
    margin-right: 1rem;
}

.newNoteGroup {
    color: #F8EEEA;
    width: 45%;
    margin-left: 1rem;
}

.newNoteButton.btn.btn-custom {
    background-color: #C4828E;
    color: #F8EEEA;
    font-size: 18px;
     margin: 0  auto auto 5rem ; 
}

.noteHeadText {
    margin-left: 3.5rem;
}
.newNoteControl.form-control {
    background-color: #F8EEEA;
    margin-left: 3.5rem;
}