.imageContainer {
    margin: 3rem auto;
    color:#F8EEEA;
}

.OCRCol, .imageCol{
   
    margin-left: 5rem;
    margin-top: 3rem;
    border: 1px solid #F8EEEA;
}

.OCRText {
    margin-top: 1.5rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
    color: #C4828E
}

.OCRInput {
    margin-bottom: 5rem;
    margin-left: 10rem;
    color:#F8EEEA;
}

.imageText {
    margin-top: 1.5rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
    color: #C4828E
}

.imageInput {
    margin-bottom: 5rem;
    margin-left: 10rem;
    color:#F8EEEA;
}

.continueRecipeButton.btn.btn-custom {
    background-color: #C4828E;
    color: #F8EEEA;
    margin-left: 5rem;
    margin-top: 10rem;
}

.ocrReturnText {
    white-space: pre-wrap; 
    margin-bottom: 1rem;
}

.recipeImage {
    margin-bottom: 1rem;
    margin-left: 10rem;
}